<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alchemic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AlchemicSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AlchemicTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C0747C21BE8DAFC0096BF85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C36D74E1B3851680073C4FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C36D7571B3851690073C4FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C45ADBA1AC978E500D9BF7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C65A61E1ACD7247006ADC1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C66DC2D1A8B82C3009F9D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C66DC381A8B82C3009F9D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB95C021BEA25A100D0B194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CF341A41ADD5A2C00A9B76B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
