<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
            <meta http-equiv="X-UA-Compatible" content="chrome=1">
                <meta name="description" content="Alchemic : An Awesome DI framework for iOS">
                    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
                        <title>Alchemic {{ site.alchemic-version }}</title>
                    </head>

    <body>

        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <a id="forkme_banner" href="https://github.com/drekka/Alchemic">View on GitHub</a>
                <h1 id="project_title">Alchemic {{ site.alchemic-version }}</h1>
                <p id="project_tagline">An Awesome DI framework for iOS by {{ site.author }}</p>
                <p>
                <a href="https://github.com/Carthage/Carthage"><img id="carthage-compatible"  src="https://img.shields.io/badge/Carthage-compatible-4BC51D.svg?style=flat" alt="Carthage compatible"></a>
                </p>

                <p id="toc">
                <a href="{{ site.data.pages.home }}">Home</a>
                &#8226; <a href="{{ site.data.pages.installation }}">Installation</a>
                &#8226; <a href="{{ site.data.pages.imports }}">Adding Alchemic</a>
                &#8226; <a href="{{ site.data.pages.components }}">Architecture</a>
                &#8226; <a href="{{ site.data.pages.object-factories }}">Object factories</a>
                &#8226; <a href="{{ site.data.pages.injections }}">Injections</a>
                &#8226; <a href="{{ site.data.pages.injection-values }}">Value types</a>
                &#8226; <a href="{{ site.data.pages.runtime }}">Programmatic usage</a>
                &#8226; <a href="{{ site.data.pages.special-features }}">iOS features</a>
                &#8226; <a href="{{ site.data.pages.advanced }}">Advanced usage</a>
                &#8226; <a href="{{ site.data.pages.errors }}">Error handling</a>
                &#8226; <a href="{{ site.data.pages.ref }}">Reference</a>
                </p>

            </header>
        </div>

        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">

                {{ content }}

            </section>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <p class="copyright">Alchemic maintained by <a href="https://github.com/drekka">{{ site.author }}</a></p>
            </footer>
        </div>
        
        
        
    </body>
</html>
